{% block sw_cms_block_videoslider %}
    <div class="sw-cms-block-teu-videoslider-tabs">
        <slot name="content">{% block sw_cms_block_videoslider_content %}{% endblock %}</slot>
    </div>
{% endblock %}
