{% block sw_cms_element_articletab_config %}
<div class="sw-cms-el-config-articletab">
    <sw-container columns="1fr 3fr" gap="20px">
        <sw-number-field type="number"
                         numberType="int"
                         :label="$tc('sw-cms.elements.customTeuArticleTab.config.numberOfTabs')"
                         v-model:value="element.config.numberOfTabs.value"
                         :min="2"
                         :max="5">
        </sw-number-field>
    </sw-container>

    <sw-tabs :is-small="false" default-item="tab1">
        <template #default="{ active }">
            <sw-tabs-item v-for="n in element.config.numberOfTabs.value" :key="n"
                          :name="'tab' + n" :active-tab="active" :native="true"
                          :title="'Artikel ' + n">
                <span v-if="element.config['tabTitle' + n].value" v-html="element.config['tabTitle' + n].value"></span>
                <span v-else>
                        Artikel {{ n }}
                </span>
            </sw-tabs-item>
        </template>

        <template #content="{ active }">
            <template
                    v-for="n in element.config.numberOfTabs.value" :key="n"
            >
                <sw-container v-if="active === 'tab' + n">
                    <sw-entity-single-select
                            ref="cmsProductSelection"
                            :label="$tc('sw-cms.elements.productBox.config.label.selection')"
                            :placeholder="$tc('sw-cms.elements.productBox.config.placeholder.selection')"
                            entity="product"
                            @change="onProductChange(arguments[0], n)"
                            v-model:value="element.config['tabArticle' + n].value">
                        <template #result-label-property="{ item, index, labelProperty, searchTerm, getKey }">
                            <sw-highlight-text
                                    :text="getKey(item,labelProperty) || getKey(item, `translated.${labelProperty}`)"
                                    :searchTerm="searchTerm">
                            </sw-highlight-text>
                            <span class="sw-cms-el-config-product-box__select-product-number">{{ item.productNumber }}</span>
                        </template>
                    </sw-entity-single-select>

                    <sw-text-field :label="$tc('sw-cms.elements.customTeuArticleTab.config.tabtitle')"
                                   v-model:value="element.config['tabTitle' + n].value">
                    </sw-text-field>

                    <sw-text-editor :label="$tc('sw-cms.elements.customTeuArticleTab.config.tabcontents')"
                                    v-model:value="element.config['tabText' + n].value">
                    </sw-text-editor>
                </sw-container>
            </template>
        </template>
    </sw-tabs>

</div>
{% endblock %}
