{% block sw_cms_element_teuHotspot_preview %}
    <div class="sw-cms-el-preview-teuHotspot">
        <img
                :src="assetFilter('/administration/static/img/cms/preview_mountain_small.jpg')"
                alt=""
        >
        <div class="hotspot hotspot-1">+</div>
        <div class="hotspot hotspot-2">+</div>
    </div>
{% endblock %}
