.cms-element-teu-articletab {
    .btn-light {
        color: #fff;
        background-color: $sw-color-brand-primary;
        border-color: $sw-color-brand-primary;
        padding: 2px 12px;
        font-size: 1rem;
        line-height: 38px;
        border-radius: 0;
    }
    .product-image-wrapper {
        height: 0;
        padding-bottom: 56.25%;
        position: relative;
        .product-image-link {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            .product-image {
                max-height: 100%;
            }
            button {
                display: none;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                @include media-breakpoint-up(md) {
                    display: block;
                }
            }
        }
    }
    .nav {
        font-size: 20px;
        justify-content: space-between;
        .nav-link {
            opacity: 0.6;
            &:after {
                content: '';
                width: 15px;
                height: 15px;
                background: transparent;
                border-radius: 100px;
                display: block;
                margin: auto;
            }
            &:hover,
            &.active {
                opacity: 1;
            }
            &.active {
                &:after {
                    background: $sw-color-brand-primary;
                }
            }
        }
        @include media-breakpoint-up(md) {
            position: absolute;
            writing-mode: vertical-rl;
            text-orientation: mixed;
            top: 0;
            left: 0;
            height: 100%;
            justify-content: center;
            .nav-link {
                transform: rotate(180deg);
            }
        }
    }
    .tab-content {
        @include media-breakpoint-up(md) {
            padding-left: 100px;
        }
    }
    .product-action {
        margin-top: 0;
    }
    .product-price-unit {
        display: none;
    }
    .product-price {
        font-size: 40px;
        line-height: 1.2;
        height: auto;
        color: $sw-color-brand-primary;
    }
}
