.cms-element-teu-heroslider {
    .carousel {
        .image-slider-item-container {
            position: relative;
            .caption {
                position: absolute;
                bottom: 10px;
                left: 10px;
                background: rgba(255,255,255,0.5);
                width: 50%;
                padding: 10px;
                display: none;
            }
            .link-overlay {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }
        .js-slider-initialized {
            .image-slider-item-container {
                .caption {
                    display: block;
                }
            }
        }
    }
}
