.cms-block-teu-hotspot {
    overflow: visible;
}

.hfi-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hfi-inner {
  position: relative;
}

.hfi-bgimg {
  width: 100%;
  display: block;
}

.hfi-marker {
  border: 4px solid white;
  background-color: #ff6000;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
  z-index: 100;
  height: 20px;
  width: 20px;
  padding: 0;
  border-radius: 100%;
  cursor:pointer;
}

.hfi-marker:after {
  opacity: 0;
  height: 30px;
  width: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1, 1);
  pointer-events: none;
  content: "";
  display: block;
  border-radius: 100%;
  border: 1px solid white;
  transition: border-color 1s linear;
  animation: hfi-show-expl 3s linear infinite;
}

.hfi-explanation {
  font-size: 13px;
  line-height: 1.5;
  padding: 20px 24px;
  position: absolute;
  width: 200px;
  background-color: white;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
  z-index: -1;
  opacity: 0;
  transition: opacity 0.2s linear;
  word-break: break-word;
  pointer-events:none;
}

.hfi-explanation a{
  font-weight:600;
  margin-top: 10px;
  display: block;
}

.hfi-element {
  position: absolute;
  touch-action: manipulation;
  margin: 0;
  padding: 0;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.hfi-explanation-close{
  color: #929292;
  float: right;
  font-size: 20px;
  margin-right: -12px;
  margin-top: -14px;
  cursor:pointer;
}

.hfi-explanation .expl-title{
  margin-bottom: 10px;
  font-size: 14px;
  color:#171717;
  display:block;
}

.hfi-explanation p{
  margin: 0;
  color: #929292;
}

.hfi-open-bottom-left .hfi-explanation {
  top: 20px;
  right: 30px;
}

.hfi-open-bottom-right .hfi-explanation {
  top: 20px;
  left: 30px;
}

.hfi-open-top-right .hfi-explanation {
  bottom: 20px;
  left: 30px;
}

.hfi-open-top-left .hfi-explanation {
  bottom: 20px;
  right: 30px;
}

.einfach .hfi-open-bottom-left .hfi-explanation {
  top: 10px;
  right: 10px;
}

.einfach .hfi-open-bottom-right .hfi-explanation {
  top: 10px;
  left: 10px;
}

.einfach .hfi-open-top-right .hfi-explanation {
  bottom: 10px;
  left: 10px;
}

.einfach .hfi-open-top-left .hfi-explanation {
  bottom: 10px;
  right: 10px;
}

@keyframes hfi-show-expl {
  0% {
    transform: translate(-50%, -50%) scale(1, 1);
    opacity: 0;
  }
  25% {
    transform: translate(-50%, -50%) scale(2, 2);
    opacity: 0.9;
  }
  50% {
    transform: translate(-50%, -50%) scale(3, 3);
    opacity: 0;
  }
  100% {
    transform: translate(-50%, -50%) scale(4, 4);
    opacity: 0;
  }
}

/* Design 1: Einfach */
.einfach .hfi-num, .einfach .hfi-plus {
  display:none;
}

/* Design 2: Mit Nummerierung */
.nummerierung .hfi-plus {
  display:none;
}

.nummerierung .hfi-marker {
  height: 40px;
  width: 40px;
  text-align:center;
}

.nummerierung .hfi-num {
  margin-top: 5px;
  display: block;
  color:white;
  font-weight:600;
  pointer-events: none;
}

/* Design 3: Mit Pluszeichen */
.plus .hfi-marker {
  height: 40px;
  width: 40px;
  text-align:center;
}

.plus .hfi-plus {
  margin-top: 5px;
  display: block;
  color:white;
  font-weight:600;
  pointer-events: none;
}

.plus .hfi-num{
  display:none;
}

/* Media Queries */
@media screen and (max-width: 767px) {
  .hfi-explanation.desktop {
    display:none;
  }

  .hfi-bgimg{
    position:relative;
  }

  .hfi-explanation.mobile{
    position:absolute;
    top:10px;
    left:50%;
    margin-left:-150px;
    right: unset;
    bottom: unset;
    width:300px;
  }
  .hfi-explanation .expl-title {
    font-size: 12px;
    line-height: 1.4;
  }
  .hfi-explanation p {
    font-size: 12px;
    line-height: 1.4;
  }
  .hfi-explanation a {
    margin-top: 6px;
    font-size: 12px;
  }
}

.overflow-visible {
    overflow: visible!important;
}
@media screen and (min-width: 768px) {
  .hfi-mobile-explanation-box {
    display:none;
  }
  .hfi-explanation.mobile {
    display:none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px){
  .hfi-explanation .expl-title {
    font-size: 12px;
    line-height: 1.4;
    margin-bottom: 6px;
  }
  .hfi-explanation p {
    font-size: 12px;
    line-height: 1.4;
  }

  .hfi-explanation{
    width:125px;
    padding: 14px;
  }

  .hfi-explanation a {
    margin-top: 6px;
    font-size: 12px;
  }
  .hfi-explanation-close {
    margin-right: -5px;
    margin-top: -10px;
  }
}
