.cms-block-teu-videoslider {
    .carousel {
        .carousel-item {
            position: relative;
            height: 0;
            padding-bottom: 56.25%;
            iframe {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
            }
        }
        &.carousel-thumbnails {

        }
    }
    .carousel-indicators {
        position: relative;
        width: 100%;
        margin: 0;
        margin-top: 20px;
        li {
            width: auto;
            height: auto;
            max-width: 200px;
        }
    }
    .thumbnails {
        display: flex;
        justify-content: center;
        gap: 10px;
        margin: 20px 0;
        li {
            width: 100%;
            max-width: 200px;
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: center;
            opacity: 0.5;
            cursor: pointer;
            &:hover {
                opacity: 0.75;
            }
            &.tns-nav-active {
                opacity: 1;
            }
            object {
                background: $secondary;
            }
            span.icon.icon-triangle {
                transform: rotate(90deg);
            }
        }
    }
    .text-is-absolute {
        position: absolute;
        padding: 20px;
        margin: 20px;
        margin-left: 40px;
        background: rgba(255,255,255,0.6);
    }
}

.base-slider.has-dots-outside {
    margin-bottom: 0;
    padding-bottom: 35px;
}
