{% block sw_cms_block_heroslider_preview %}
<div class="sw-cms-preview-teu-hotspot sw-cms-preview-gallery">
    <img
            :src="assetFilter('/administration/static/img/cms/preview_mountain_small.jpg')"
            alt=""
    >
    <div class="hotspot hotspot-1">+</div>
    <div class="hotspot hotspot-2">+</div>
</div>
{% endblock %}


