.sw-cms-preview-teu-hotspot {
    &.sw-cms-preview-gallery {
        grid-template-columns: 1fr;
        .sw-cms-preview-gallery-preview {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
}
.sw-cms-preview-teu-hotspot {
    position: relative;
    .hotspot {
        height: 20px;
        width: 20px;
        position: absolute;
        background: #000;
        border: 2px solid #fff;
        border-radius: 1000px;
        color: #fff;
        line-height: 15px;
        text-align: center;
        &.hotspot-1 {
            top: 40%;
            left: 20%;
        }
        &.hotspot-2 {
            top: 60%;
            left: 65%;
        }
    }
}
