{% block sw_cms_element_heroslider %}
    <div class="sw-cms-el-heroslider">
        <div class="sw-cms-el-image-slider">
            <div class="sw-cms-el-image-slider__image-box sw-cms-el-heroslider-conetnt">
                <h2>HERO-SLIDER</h2>
                <p>preview coming soon</p>
            </div>
        </div>
    </div>
{% endblock %}
