.sw-cms-el-heroslider {
    height: 100%;
    width: 100%;

    min-height: 200px;
    .sw-cms-el-heroslider-conetnt {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &:before {
            display: none;
        }
    }
}
