.sw-cms-el-preview-articletab {
    position: relative;
    width: 100%;
    font-size: 70%;

    .tabs {
        overflow: hidden;
        position: absolute;
        writing-mode: vertical-rl;
        text-orientation: mixed;
        top: 0;
        left: 0;
        height: 100%;
        -ms-flex-pack: center;
        justify-content: center;
        display: flex;

        .tab {
            float: left;
            display: inline-block;
            padding: .2rem 0rem;
            border: none;
            font-size: 110%;
            transform: rotate(180deg);

            &:after {
                content: "";
                width: 7px;
                height: 7px;
                background: transparent;
                border-radius: 100px;
                display: block;
                margin: auto;
            }
        }

        .tab-active {
            &:after {
                background: #e63027;
            }
        }
    }
    .tab-container {
        padding-left: 40px;
    }
}
