{% block element_teuArticleTab %}
    <div class="cms-element-teu-articletab" style="height: 100%; width: 100%;position:relative">

        <ul class="nav">
            {% for n in range(1, element.config.numberOfTabs.value) %}
                <li class="nav-item py-md-4">
                    <a class="nav-link {% if(n==1) %}active{% endif %}" data-bs-toggle="tab"
                       href="#tab{{ element.id }}_{{ n }}">
                        {% if(element.config["tabTitle#{n}"].value !='') %}
                        {{ element.config["tabTitle#{n}"].value|raw }}
                        {% else %}
                            {{ element.data.tabArticles["#{n}"].translated.name|raw }}
                        {% endif %}
                    </a>
                </li>
            {% endfor %}
        </ul>

        <div class="tab-content">
            {% for n in range(1, element.config.numberOfTabs.value) %}
                {%  set product = element.data.tabArticles["#{n}"] %}
                <div class="tab-pane container {% if(n==1) %}active{% else %}fade{% endif %} pt-4"
                     id="tab{{ element.id }}_{{ n }}">
                    <div class="product-image-wrapper">
                        <a href="{{ seoUrl('frontend.detail.page', {'productId': product.id}) }}"
                           title="{{ product.translated.name }}"
                           class="product-image-link is-cover">
                            {% if product.cover.media.url %}
                                {% set attributes = {
                                    'class': 'product-image is-contain',
                                    'alt': (product.cover.media.translated.alt ?: product.translated.name),
                                    'title': (product.cover.media.translated.title ?: product.translated.name)
                                } %}

                                {% set attributes = attributes|merge({ 'data-object-fit': 'contain' }) %}


                                {% sw_thumbnails 'product-image-thumbnails' with {
                                    media: product.cover.media,
                                    sizes: {
                                        'xs': '575px',
                                        'sm': '768px',
                                        'md': '991px',
                                        'lg': '1280px',
                                        'xl': '1920px'
                                    }
                                } %}
                            {% else %}
                                <div class="product-image-placeholder">
                                    {% sw_icon 'placeholder' style {
                                        'size': 'fluid'
                                    } %}
                                </div>
                            {% endif %}
                            <button class="btn btn-lg btn-primary">{{ "teufelsCmsPack.articleTab.detailLinkText"|trans|sw_sanitize }}</button>
                        </a>
                    </div>
                    <div class="product-info">
                        <div class="row justify-content-center align-items-center">
                            <div class="col-auto text-small px-5 py-2">
                                <h3>{{ product.translated.name }}</h3>
                            </div>
                            <div class="col-auto px-5 py-2">
                                {% block component_product_box_price %}
                                    {% sw_include '@Storefront/storefront/component/product/card/price-unit.html.twig' %}
                                {% endblock %}
                            </div>
                            <div class="col-auto px-5 py-2">
                                {% block component_product_box_action %}
                                    {% sw_include '@Storefront/storefront/component/product/card/action.html.twig' %}
                                {% endblock %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
