{% block element_teuBideoslider %}
    {% set config = element.fieldConfig.elements %}
    <div class="cms-element-teu-youtube" style="/*height: 100%; width: 100%*/">
        {% set baseSliderOptions = {
            slider: {
                mode: config.sliderSettings.value.mode,
                navPosition: 'bottom',
                speed: 500,
                nav:  config.sliderSettings.value.nav ? true : false,
                navAsThumbnails : config.sliderSettings.value.navPos == "thumbnail" ? true : false,
                navContainer: config.sliderSettings.value.navPos == "thumbnail" ? '#thumbnails-' ~ element.id : config.sliderSettings.value.navPos == "text" ? '#navText-' ~ element.id : false,
                controls: config.sliderSettings.value.controls ? true : false,
                autoHeight: config.sliderSettings.value.autoHeight ? true : false,
                loop: config.sliderSettings.value.rewind ? true : false,
                rewind: config.sliderSettings.value.rewind ? true : false,
                axis: config.sliderSettings.value.axis,
                mouseDrag: config.sliderSettings.value.mouseDrag ? true : false,
            }
        } %}
        <div class="base-slider image-slider{% if config.sliderSettings.value.controlsPos == "outside" %} has-nav-outside{% endif %}{% if config.sliderSettings.value.navPos == "outside" %} has-dots-outside{% endif %}"
             data-teuVideo-slider="true"
             data-teuvideo-slider-options='{{ baseSliderOptions|json_encode }}'>
            <div class="image-slider-container"
                 data-base-slider-container="true">

                {% if config.slides.value %}
                    {% set slides = config.slides.value | filter(slide => slide.active) %}

                    {% for slide in slides %}
                        {% if slide.videoType =='youtube'  %}

                            {% set videoUrl = 'https://www.youtube-nocookie.com/embed/' ~ slide.videoSrc ~
                                '?rel=0&enablejsapi=1' ~
                                '&controls=' ~ config.videoSettings.value.controls ~
                                '&loop=' ~ config.videoSettings.value.loop ~
                                '&autoplay=' ~ config.videoSettings.value.autoplay ~
                                '&mute=' ~ config.videoSettings.value.mute ~
                                '&color=' ~ config.videoSettings.value.colorreplace({'#': ''})
                            %}
                            {% if slide.videoStart %}
                                {% set starttime = slide.videoStart|split(':') %}
                                {% if starttime[0] matches '/^\\d+$/' and starttime[1] matches '/^\\d+$/' %}
                                    {% set startimeInS = starttime[0] * 60 + starttime[1] %}
                                    {% set videoUrl = videoUrl ~ '&start=' ~ startimeInS %}
                                {% endif %}
                            {% endif %}
                            {% if slide.videoEnd %}
                                {% set endtime = slide.videoEnd|split(':') %}
                                {% if endtime[0] matches '/^\\d+$/' and endtime[1] matches '/^\\d+$/' %}
                                    {% set endtimeInS = endtime[0] * 60 + endtime[1] %}
                                    {% set videoUrl = videoUrl ~ '&end=' ~ endtimeInS %}
                                {% endif %}
                            {% endif %}

                        {% else %}
                            {% set videoUrl = 'https://player.vimeo.com/video/' ~ slide.videoSrc ~
                                '??api=1&title=0&byline=0' ~
                                '&Steuerungen=' ~ config.videoSettings.value.controls ~
                                '&loop=' ~ config.videoSettings.value.loop ~
                                '&autoplay=' ~ config.videoSettings.value.autoplay ~
                                '&mute=' ~ config.videoSettings.value.mute ~
                                '&color=' ~ config.videoSettings.value.color|replace({'#': ''})
                            %}
                            {% if slide.videoStart %}
                                {% set starttime = slide.videoStart|split(':') %}
                                {% if starttime[0] matches '/^\\d+$/' and starttime[1] matches '/^\\d+$/' %}
                                    {% set startimeVOmeo = starttime[0] ~ 'm' ~ starttime[1] ~ 's' %}
                                    {% set videoUrl = videoUrl ~ '#t=' ~ startimeVOmeo %}
                                {% endif %}
                            {% endif %}
                        {% endif %}

                        {% block element_teuVideoslider_slider_item %}
                            <div class="image-slider-item-container">
                                <div class="image-slider-item{% if loop.first != true %} is-not-first{% endif %}">
                                    <div class="row">
                                        {% block element_teuBideoslider_slider_item_video %}
                                            <div class="col{% if config.textSettings.value.position == 'relative' and config.textSettings.value.show  %} col-md-{{ 12 - config.textSettings.value.textColSize}}{% endif %}">
                                                <div class="video-container" style="padding:56.25% 0 0 0;position:relative;">
                                                    <iframe class="cms-element-youtube-video__video"
                                                            {% apply spaceless %}
                                                                src="{{ videoUrl }}"
                                                            {% endapply %}
                                                            style="position:absolute;top:0;left:0;width:100%;height:100%;">
                                                    </iframe>
                                                </div>
                                            </div>
                                        {% endblock %}
                                        {% block element_teuVideoslider_slider_item_text %}
                                            {% if config.textSettings.value.show and (slide.title or slide.text or slide.linkActive ) %}
                                            <div class="col col-md-{{ config.textSettings.value.textColSize}}{% if config.textSettings.value.position == 'absolute' %} text-is-absolute{% endif%}">
                                                {% if slide.title %}
                                                    {% block element_teuVideoslider_slider_item_text_title %}
                                                        <h2>{{ slide.title }}</h2>
                                                    {% endblock %}
                                                {% endif %}
                                                {% if slide.text %}
                                                    {% block element_teuVideoslider_slider_item_text_content %}
                                                        <div class="content">
                                                            {{ slide.text|raw }}
                                                        </div>
                                                    {% endblock %}
                                                {% endif %}
                                                {% if slide.linkActive %}
                                                    {% block element_teuVideoslider_slider_item_text_Link %}
                                                        <a href="{{ slide.link  }}"{% if slide.linkNewTab %} target="_blank" {% endif %} class="btn btn-primary mt-3">
                                                            {% if slide.linkText %} {{ slide.linkText }} {% else %} {{ "general.readMore"|trans|sw_sanitize }} {% endif %}
                                                        </a>
                                                    {% endblock %}
                                                {% endif %}
                                            </div>
                                            {% endif %}
                                        {% endblock %}
                                    </div>
                                </div>
                            </div>
                        {% endblock %}
                    {% endfor %}

                {% endif %}
            </div>

            {% block element_teuBideoslider_controls %}
                {% if config.sliderSettings.value.controls %}
                    <div class="image-slider-controls-container">
                        <div class="base-slider-controls"
                             data-base-slider-controls="true">
                            {% block element_image_slider_controls_items %}
                                {% block element_image_slider_controls_items_arrows %}
                                    <button class="base-slider-controls-prev image-slider-controls-prev {% if config.sliderSettings.value.controlsPos == "outside" %} is-nav-prev-outside{% elseif config.sliderSettings.value.controlsPos == "inside" %} is-nav-prev-inside{% endif %}">
                                        {% block element_image_slider_controls_items_prev_icon %}
                                            {% sw_icon 'arrow-head-left' %}
                                        {% endblock %}
                                    </button>
                                    <button class="base-slider-controls-next image-slider-controls-next {% if config.sliderSettings.value.controlsPos == "outside" %} is-nav-next-outside{% elseif config.sliderSettings.value.controlsPos == "inside" %} is-nav-next-inside{% endif %}">
                                        {% block element_image_slider_controls_items_next_icon %}
                                            {% sw_icon 'arrow-head-right' %}
                                        {% endblock %}
                                    </button>
                                {% endblock %}
                            {% endblock %}
                        </div>
                    </div>
                {% endif %}
            {% endblock %}

        </div>
        {% if config.sliderSettings.value.navPos == "thumbnail" %}
            <ul class="thumbnails" id="thumbnails-{{ element.id }}">
                {% for slide in slides %}
                    <li data-nav="{{slide.index0}}" class="thumb-item" tabindex="-1">
                        {% if slide.videoType =='youtube'  %}
                            {% set videoThumb = 'https://i.ytimg.com/vi/' ~ slide.videoSrc ~ '/maxresdefault.jpg' %}
                        {% else %}
                            {% set videoThumb = 'https://vumbnail.com/ff/' ~ slide.videoSrc ~ '.jpg' %}
                        {% endif %}
                        <object data="{{ videoThumb }}" class="d-flex h-100 w-100 justify-content-center img-fluid" type="image/png">
                            {% sw_icon 'triangle' %}
                        </object>
                    </li>
                {% endfor %}

            </ul>
        {% endif %}
        {% if config.sliderSettings.value.navPos == "text" %}
            <ul class="thumbnails navAsText" id="navText-{{ element.id }}">
                {% for slide in slides %}
                    <li data-nav="{{slide.index0}}" class="thumb-item" tabindex="-1">
                       {{ slide.name }}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endblock %}
