{% block element_teuhotspots %}
    {% set id = element.id %}
    {% set currMediaId = element.config.media.value %}
    {% set currMediaCollection = searchMedia([currMediaId], context.context) %}
    {% set currMediaObject = currMediaCollection.get(currMediaId) %}
    {% set currImgPath = currMediaObject.url %}
    {% set currImgAlt = currMediaObject.translated.alt %}
    {% set currImgTitle = currMediaObject.translated.title  %}

<div id="{{ id }}-hfi-wrapper" class="hfi-wrapper {{  element.config.design.value }}">
    <div class="hfi-inner">
        <img class="hfi-bgimg" src="{{ currImgPath }}" alt="{{ currImgAlt }}" title="{{ currImgTitle }}">
        {% for n in range(1, element.config.numberOfHotspots.value) %}
            {% if element.config["hotspotActiv#{n}"].value == true %}
            <div id="{{ id }}-hfi-element-{{ n }}" style="top: {{ element.config["markerYpos#{n}"].value }}%; left: {{ element.config["markerXpos#{n}"].value }}%;" class="hfi-element hfi-open-{{ element.config["hoverDefaultPos#{n}"].value }}">
                <div class="hfi-element-inner" style="position:relative;">
                    <div data-element-id="{{ id }}" class="hfi-marker" onmouseover="showHotspotExplanation({{ n }})" style="background-color:{{ element.config.highlightcolor.value }}"><span class="hfi-num">{{ n }}</span><span class="hfi-plus">+</span></div>
                    <div id="{{ id }}-explanation-{{ n }}" class="hfi-explanation desktop">
                        <span class="hfi-explanation-close" onclick="closeHotspotExplanation()">×</span>
                        <span class="expl-title">{{ element.config["hotspotTitle#{n}"].value }}</span>
                        <p>{{ element.config["hotspotText#{n}"].value|raw }}</p>
                        {% if element.config["hotspotLinkActive#{n}"].value == true %}
                            <a style="color:{{ element.config.highlightcolor.value }};" href="{{ element.config["hotspotLinkUrl#{n}"].value }}" rel="noopener" {% if element.config["hotspotLinkNewTab#{n}"].value == true %}target="_blank"{% endif %} title="{{ element.config["hotspotLinkText#{n}"].value  }}">{{ element.config["hotspotLinkText#{n}"].value  }}</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endif %}
        {% endfor %}
        <div class="hfi-mobile-explanation-box">
            {% for n in range(1, element.config.numberOfHotspots.value) %}
                {% if element.config["hotspotActiv#{n}"].value == true %}
                    <div id="{{ id }}-explanation-mobile-{{ n }}" class="hfi-explanation mobile">
                        <span class="hfi-explanation-close" onclick="closeHotspotExplanation()">×</span>
                        <span class="expl-title">{{ element.config["hotspotTitle#{n}"].value }}</span>
                        <p>{{ element.config["hotspotText#{n}"].value|raw }}</p>
                        {% if element.config["hotspotLinkActive#{n}"].value == true %}
                            <a style="color:{{ element.config.highlightcolor.value }};" href="{{ element.config["hotspotLinkUrl#{n}"].value }}" rel="noopener"    {% if element.config["hotspotLinkNewTab#{n}"].value == true %}target="_blank"{% endif %} title="{{ element.config["hotspotLinkText#{n}"].value  }}">{{ element.config["hotspotLinkText#{n}"].value  }}</a>
                        {% endif %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
    <template data-teu-cmspack-teuhotspot></template>
    <script>

        function showHotspotExplanation(markernr) {

            var currentElementId = event.target.getAttribute('data-element-id');
            var explanation = document.getElementById(currentElementId + '-explanation-' + markernr);
            var explanationMobile = document.getElementById(currentElementId + '-explanation-mobile-' + markernr);

            hideAllHotspotExplanation();
            displayHotspotExplanation(explanation, explanationMobile);

        }

        function displayHotspotExplanation(explanation, explanationMobile) {

            // Desktop
            if (explanation !== '' && explanation){
                explanation.style.opacity = "1";
                explanation.style.zIndex = "1000";
                explanation.style.pointerEvents = "visible";
                explanation.parentElement.style.zIndex = "1000";
                explanation.parentElement.parentElement.style.zIndex = "1000";
            }

            // Mobile
            if (explanationMobile !== '' && explanationMobile){
                explanationMobile.style.opacity = "1";
                explanationMobile.style.zIndex = "1000";
                explanationMobile.style.pointerEvents = "visible";
                explanationMobile.parentElement.style.zIndex = "1000";
            }
        }

        function hideAllHotspotExplanation() {
            var elementsDesktop = document.getElementsByClassName('hfi-explanation desktop');
            var elementsMobile = document.getElementsByClassName('hfi-explanation mobile');
            for (var i = 0; i < elementsDesktop.length; i++) {
                elementsDesktop[i].style.opacity = "0";
                elementsDesktop[i].style.zIndex = "0";
                elementsDesktop[i].style.pointerEvents = "none";
                elementsDesktop[i].parentElement.style.zIndex = "1";
                elementsDesktop[i].parentElement.parentElement.style.zIndex = "1";
            }

            for (var i = 0; i < elementsMobile.length; i++) {
                elementsMobile[i].style.opacity = "0";
                elementsMobile[i].style.zIndex = "0";
                elementsMobile[i].style.pointerEvents = "none";
                elementsMobile[i].parentElement.style.zIndex = "1";
            }

        }


        function closeHotspotExplanation() {
            var explanation = event.target.parentElement;
            explanation.style.opacity = "0";
            explanation.style.zIndex = "0";
            explanation.style.pointerEvents = "none";
            explanation.parentElement.style.zIndex = "1";
            explanation.parentElement.parentElement.style.zIndex = "1";
        }

    </script>

{% endblock %}
