{% block element_teuHeroslider %}
    <div class="cms-element-teu-heroslider" style="height: 100%; width: 100%">

        <div id="carousel-thumb-{{ element.id }}" class="carousel slide carousel-slide" data-ride="carousel" data-interval="false">

            {% set baseSliderOptions = {
                slider: {
                    navPosition: 'bottom',
                    speed: 500,
                    nav: element.config.navigationDots.value ? true : false,
                    controls: element.config.navigationArrows.value ? true : false,
                    autoHeight: false
                }
            } %}

            <div class="base-slider image-slider {% if element.config.navigationArrows.value == "outside" %} has-nav-outside{% endif %}{% if element.config.navigationDots.value == "outside" %} has-dots-outside{% endif %}"
                 data-base-slider="true"
                 data-base-slider-options='{{ baseSliderOptions|json_encode }}'>


                <div class="image-slider-container"
                     data-base-slider-container="true">
{#
                    {% for n in range(1, element.config.numberOfSlides.value) %}
#}
                    {% for n in element.data.HerosliderOrder %}
                        {% if element.config["slideDisable#{n}"].value != true %}

                        {% set imageElement %}
                            <div class="image-slider-item{% if loop.first != true %} is-not-first{% endif %} is-cover" style="min-height: 300px">
                                {% set attributes = {
                                    'class': 'img-fluid image-slider-image',
                                    'alt': (element.data.HerosliderImages["#{n}"].alt ?: ''),
                                    'title': (element.data.HerosliderImages["#{n}"].title ?: '')
                                } %}

                                {% set attributes = attributes|merge({ 'data-object-fit': cover }) %}

                                {% sw_thumbnails 'cms-image-slider-thumbnails' with {
                                    media: element.data.HerosliderImages["#{n}"]
                                } %}
                            </div>
                        {% endset %}

                        {% block element_image_slider_inner_item %}
                            <div class="image-slider-item-container">
                                {{ imageElement }}
                                {% if element.config["slideTitle#{n}"].value or element.config["slideText#{n}"].value %}
                                    <div class="caption">
                                        {% if element.config["slideTitle#{n}"].value %}
                                            <h2> {{ element.config["slideTitle#{n}"].value }} </h2>
                                        {% endif %}
                                        {% if element.config["slideText#{n}"].value %}
                                             {{ element.config["slideText#{n}"].value|raw }}
                                        {% endif %}
                                    </div>
                                {% endif %}
                                {% if element.config["sliderLinkActive#{n}"].value %}
                                    <a href="{{ element.config["slideLink#{n}"].value }}" class="link-overlay" {% if element.config["sliderLinkNewTab#{n}"].value == true %}target="_blank"{% endif %}>
                                    </a>
                                {% endif %}
                            </div>
                        {% endblock %}
                        {%  endif %}
                    {% endfor %}
                </div>

                {% block element_image_slider_controls %}
                    {% if element.config.navigationArrows.value %}
                        <div class="image-slider-controls-container">
                            <div class="base-slider-controls"
                                 data-base-slider-controls="true">
                                {% block element_image_slider_controls_items %}
                                    {% block element_image_slider_controls_items_arrows %}
                                        <button class="base-slider-controls-prev image-slider-controls-prev{% if element.config.navigationArrows.value == "outside" %} is-nav-prev-outside{% elseif element.config.navigationArrows.value == "inside" %} is-nav-prev-inside{% endif %}">
                                            {% block element_image_slider_controls_items_prev_icon %}
                                                {% sw_icon 'arrow-head-left' %}
                                            {% endblock %}
                                        </button>
                                        <button class="base-slider-controls-next image-slider-controls-next{% if element.config.navigationArrows.value == "outside" %} is-nav-next-outside{% elseif element.config.navigationArrows.value == "inside" %} is-nav-next-inside{% endif %}">
                                            {% block element_image_slider_controls_items_next_icon %}
                                                {% sw_icon 'arrow-head-right' %}
                                            {% endblock %}
                                        </button>
                                    {% endblock %}
                                {% endblock %}
                            </div>
                        </div>
                    {% endif %}
                {% endblock %}

            </div>
        </div>
    </div>
{% endblock %}

