.sw-cms-el-videoslider {
    height: 100%;
    width: 100%;

    min-height: 315px;

    iframe {
        height: 100%;
        width: 100%;
    }
    .row {
        display: flex;
        justify-content: space-between;
    }

    .col {
        padding-right: 20px;
        padding-left: 20px;
        width: 100%;
    }

    .col-md-4 {
        flex: 0 0 33.3333333333%;
        max-width: 33.3333333333%;
    }

    .col-md-8 {
        flex: 0 0 66.6666666667%;
        max-width: 66.6666666667%;
    }

    .btn {
        background: #f9fafb;
        color: #52667a;
        display: inline-block;
        border-radius: 4px;
        padding: 2px 24px;
        font-size: 14px;
        outline: none;
        font-weight: 600;
        font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
        vertical-align: middle;
        text-decoration: none;
        user-select: none;
        margin: 0;
        position: relative;
        line-height: 36px;
        border: 0 none;

        &-primary {
            background-color: #758ca3;
            color: #ffffff;
        }
    }

    .controls,
    .nav {
        position: absolute;
        display: flex;
    }

    .controls {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 0 10px;
        justify-content: space-between;
        align-items: center;
        opacity: 0.5;

        .btn {
            width: 48px;
            height: 48px;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .nav {
        bottom: 10px;
        left: 0;
        width: 100%;
        justify-content: center;
        align-items: center;

        > div {
            width: 16px;
            height: 16px;
            opacity: 0.5;
            margin: 0 5px;
            border-radius: 999px;
            background-color: #758ca3;

            &:first-child {
                opacity: 1;
            }
        }
    }

    .sw-cms-el-image-gallery__wrapper {
        height: 0;
        padding-bottom: 10%;
        position: relative;
        margin-top: 20px;
        .sw-cms-el-image-gallery__item-holder {
            display: flex;
            justify-content: center;
            align-items: stretch;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            overflow: hidden;
            width: 100%;
            > div {
                margin-right: 10px;
                max-height: 100%;
                img {
                    max-width: 100%;
                    max-height: 100%;
                    width: auto;
                }
            }
        }
    }

    .text-is-absolute {
        position: absolute;
        top: 0;
        left: 0;
        margin: 4%;
        padding: 10px;
        background: rgba(255,255,255,0.6);
    }
}
