{% block sw_cms_element_videoslider %}
    <div class="sw-cms-el-videoslider">
        <div class="base-slider">
            <div class="image-slider-container">
                <div class="image-slider-item-container">
                    <div class="image-slider-item container">
                        <div class="row">
                            <div class="col">
                                <sw-cms-el-preview-youtube-video></sw-cms-el-preview-youtube-video>
                            </div>
                            <div v-if="element.config.textSettings.value.show && element.config.textSettings.value.position == 'absolute'" class="text-is-absolute">
                                <h2>Aenean Porta</h2>
                                <p>
                                    Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Maecenas faucibus mollis interdum.
                                </p>
                                <p class="btn btn-primary">Lorem ipsum</p>
                            </div>
                            <div v-if="element.config.textSettings.value.show && element.config.textSettings.value.position == 'relative'" class="col">
                                <h2>Aenean Porta</h2>
                                <p>
                                    Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Maecenas faucibus mollis interdum.
                                </p>
                                <p class="btn btn-primary">Lorem ipsum</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div
                    class="nav"
                    v-if="element.config.sliderSettings.value.nav">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>


    </div>
{% endblock %}
