{% block sw_cms_element_image_config %}
<div class="sw-cms-el-config-heroslider">
    <sw-container columns="1fr 1fr 1fr" gap="20px">
        <sw-number-field type="number"
                         numberType="int"
                         :label="$tc('sw-cms.elements.customTeuHeroslider.config.numberOfSlides')"
                         v-model:value="element.config.numberOfSlides.value"
                         :min="1"
                         :max="10">
        </sw-number-field>
        <sw-select-field
                  v-model:value="element.config.navigationArrows.value"
                  :label="$tc('sw-cms.elements.imageSlider.config.label.navigationArrows')">

            <option :value="null">
                {{ $tc('sw-cms.elements.imageSlider.config.label.navigationPositionNone') }}
            </option>
            <option value="inside">
                {{ $tc('sw-cms.elements.imageSlider.config.label.navigationPositionInside') }}
            </option>
            <option value="outside">
                {{ $tc('sw-cms.elements.imageSlider.config.label.navigationPositionOutside') }}
            </option>
        </sw-select-field>
        <sw-select-field
                  v-model:value="element.config.navigationDots.value"
                  :label="$tc('sw-cms.elements.imageSlider.config.label.navigationDots')">

            <option :value="null">
                {{ $tc('sw-cms.elements.imageSlider.config.label.navigationPositionNone') }}
            </option>
            <option value="inside">
                {{ $tc('sw-cms.elements.imageSlider.config.label.navigationPositionInside') }}
            </option>
            <option value="outside">
                {{ $tc('sw-cms.elements.imageSlider.config.label.navigationPositionOutside') }}
            </option>
        </sw-select-field>
        <sw-text-field :label="$tc('sw-cms.elements.customTeuHeroslider.config.sort')"
                       :placeholder="$tc('sw-cms.elements.customTeuHeroslider.config.sortPlaceholder')"
                       v-model:value="element.config.sorting.value">
        </sw-text-field>
    </sw-container>

    <sw-tabs :small="false" default-item="slide1">
        <template #default="{ active }">
            <sw-tabs-item v-for="n in element.config.numberOfSlides.value" :key="n"
                          :name="'slide' + n" :activeTab="active"
                          :title="'Slide ' + n">
                <span> Slide {{ n }}</span>
            </sw-tabs-item>
        </template>

        <template #content="{ active }">
            <template
                    v-for="n in element.config.numberOfSlides.value" :key="n"
            >
            <sw-container  v-if="active === 'slide' + n">

                <sw-switch-field bordered :label="$tc('sw-cms.elements.customTeuHeroslider.config.slideDisable')"
                                 v-model:value="element.config['slideDisable' + n].value">
                </sw-switch-field>
                <sw-cms-mapping-field
                        v-model:config="element.config['media' + n]"
                        :label="$tc('sw-cms.elements.image.label')"
                        value-types="entity"
                        entity="media"
                >
                    <sw-media-upload-v2
                            variant="regular"
                            :upload-tag="uploadTag + '-' + n"
                            :source="previewSource(n)"
                            :allow-multi-select="false"
                            :default-folder="cmsPageState.pageEntityName"
                            :caption="$tc('sw-cms.elements.general.config.caption.mediaUpload')"
                            @media-upload-sidebar-open="onOpenMediaModal"
                            @media-upload-remove-image="onImageRemove(n)"
                    />

                    <template #preview="{ demoValue }">
                        <div class="sw-cms-el-config-image__mapping-preview">
                            <img
                                    v-if="demoValue.url"
                                    :src="demoValue.url"
                                    alt=""
                            >
                            <sw-alert
                                    v-else
                                    class="sw-cms-el-config-image__preview-info"
                                    variant="info"
                            >
                                {{ $tc('sw-cms.detail.label.mappingEmptyPreview') }}
                            </sw-alert>
                        </div>
                    </template>
                </sw-cms-mapping-field>

                <sw-upload-listener
                        :upload-tag="uploadTag + '-' + n"
                        auto-upload
                        @media-upload-finish="onImageUpload($event,n)"
                />




                <sw-text-field :label="$tc('sw-cms.elements.customTeuHeroslider.config.slidetitle')"
                               v-model:value="element.config['slideTitle' + n].value">
                </sw-text-field>

                <sw-text-editor :label="$tc('sw-cms.elements.customTeuHeroslider.config.slidecontents')"
                                v-model:value="element.config['slideText' + n].value">
                </sw-text-editor>

                <sw-switch-field bordered :label="$tc('sw-cms.elements.customTeuHeroslider.config.activateLink')"
                                 v-model:value="element.config['sliderLinkActive' + n].value">
                </sw-switch-field>

                <sw-text-field v-if="element.config['sliderLinkActive' + n].value"
                               :label="$tc('sw-cms.elements.customTeuHeroslider.config.link')"
                               v-model:value="element.config['slideLink' + n].value">
                </sw-text-field>

                <sw-switch-field v-if="element.config['sliderLinkActive' + n].value"
                                :label="$tc('sw-cms.elements.image.config.label.linkNewTab')"
                                v-model:value="element.config['sliderLinkNewTab' + n].value">
                </sw-switch-field>

                <sw-media-modal-v2
                        v-if="mediaModalIsOpen"
                        variant="full"
                        :caption="$tc('sw-cms.elements.general.config.caption.mediaUpload')"
                        :entity-context="cmsPageState.entityName"
                        :allow-multi-select="false"
                        :initial-folder-id="cmsPageState.defaultMediaFolderId"
                        @media-upload-remove-image="onImageRemove(n)"
                        @media-modal-selection-change="onSelectionChanges($event,n)"
                        @modal-close="onCloseModal"
                />
            </sw-container>
            </template>
        </template>
    </sw-tabs>

</div>
{% endblock %}
