@import "~scss/variables";

.sw-cms-el-config-product-box {
    .sw-select,
    .sw-single-select {
        margin-bottom: 22px;
    }

    .sw-select-result .sw-select-result__result-item-text {
        display: block;

        .sw-highlight-text {
            display: inline;
        }

        .sw-cms-el-config-product-box__select-product-number {
            display: inline;
            color: $color-gray-400;
            margin-left: 10px;
        }
    }
}

.sw-cms-el-config-heroslider {
    .sw-media-upload-v2 {
        margin-bottom: 22px;

        .sw-media-upload-v2__header {
            display: none;
        }
    }

    .sw-cms-el-config-image__mapping-preview {
        display: grid;
        width: 100%;
        height: 200px;
        justify-items: center;
        align-items: start;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            overflow: hidden;
        }

        .sw-cms-el-config-image__preview-info {
            width: 100%;
        }
    }
}

