{% block section_content_moodvideo_container %}
        {% block section_content_moodvideo_video %}
            <video src="{{ media.url }}" class="vid {{ attributes.class }}" autobuffer playsinline preload muted autoplay loop>
            </video>
        {% endblock %}
{% endblock %}
