{% sw_extends '@Storefront/storefront/section/cms-section-block-container.html.twig' %}


{% block section_content_block_background_image %}
    {% if block.backgroundMedia %}
        {%  if block.backgroundMedia.mediaType.name == "VIDEO" %}
            {% sw_include "@Storefront/storefront/section/cms-section-moodvideo.html.twig"
                with {
                    media: block.backgroundMedia,
                    attributes: {
                        class: "cms-block-background media-mode--" ~ block.backgroundMediaMode
                    }
                }
            %}
        {% else %}
            {{ parent() }}
        {% endif %}
    {% endif %}
{% endblock %}
