{% sw_extends '@Storefront/storefront/section/cms-section-default.html.twig' %}

{% block page_content_section_default %}
    {%  if section.backgroundMedia.mediaType.name == "VIDEO" %}
        {% set layout = section.sizingMode ? section.sizingMode|replace({"_": "-"}) : "container" %}
        <div class="cms-section-default {{ layout }}">
            {% sw_include "@Storefront/storefront/section/cms-section-moodvideo.html.twig"
                with {
                media: section.backgroundMedia,
                attributes: {
                    class: "cms-block-background media-mode--" ~ section.backgroundMediaMode
                }
            }
            %}
            {% for block in section.blocks %}

                {% block section_default_content_block %}
                    {% sw_include "@Storefront/storefront/section/cms-section-block-container.html.twig" %}
                {% endblock %}
            {% endfor %}
        </div>
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}
