.sw-cms-preview-heroslider {
    &.sw-cms-preview-gallery {
        grid-template-columns: 1fr;
        padding: 0;
        height: 100%;
        .sw-cms-preview-gallery-preview {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
}
.sw-cms-preview-heroslider {
    position: relative;
    .sw-cms-preview-image-slider {
        position: relative;
        align-items: center;
        display: grid;
        grid-template-columns: 10px 1fr 10px;
        grid-gap: 5px;
        height: 100%;
        img {
            max-width:100%;
        }
        .text {
            position: absolute;
            bottom: 25%;
            left: 20%;
            color: #fff;
            padding: 5px;
            width: 55%;
            background: rgba(0,0,0,.5);
            zoom: 0.5;
        }
    }
}
