.sw-cms-el-config-videoslider {
    .sw-icon[class*='-xxs'] {
        width: 12px;
        height: 12px;
    }
    .mb-0 {
        margin-bottom: 0;

        &.sw-colorpicker > .sw-field {
            margin-bottom: 0;
        }
    }

    .hint {
        margin-top: 8px;
        font-size: 14px;
    }

    code {
        color: #189eff;
    }

    .toggleable-container {
        display: flex;

        .sw-field--text {
            flex-grow: 1;
        }

        .sw-field--switch {
            flex-shrink: 0;
            margin-left: 20px;
        }
    }

    .section-title {
        margin-bottom: 32px;
        padding-bottom: 10px;
        border-bottom: solid 1px #d1d9e0;
    }

    .sw-media-upload-v2 {
        margin-bottom: 32px;

        img {
            width: 100%;
            height: 100%;
        }
    }

    .slides {
        list-style-type: none;
    }

    .slide {
        border-radius: 4px;
        border: solid 1px #d1d9e0;
        overflow: hidden;

        .name {
            padding: 20px;
        }

        .settings {
            .sw-collapse {
                height: 100%;
                display: flex;
                flex-direction: column;

                &.disabled {
                    .sw-collapse__header {
                        opacity: 0.5;
                    }
                }
            }

            .sw-collapse__header {
                flex-grow: 1;
                display: flex;
                align-items: center;
                padding: 20px;
                cursor: pointer;
                background-color: #f9fafb;

                > div {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }

                .sw-icon {
                    flex-shrink: 0;
                    margin-left: 20px;
                }
            }

            .sw-collapse__content {
                border-top: solid 1px #d1d9e0;
            }

            .sw-tabs {
                margin-bottom: 0;
            }

            .sw-tabs__custom-content {
                padding: 20px;
            }

            .sw-text-editor-toolbar {
                display: flex;
                flex-wrap: wrap;
                height: auto;
            }
        }

        .actions {
            display: flex;
            flex-direction: column;
            height: 100%;
            padding: 20px;
            border-left: solid 1px #d1d9e0;
            background-color: #f0f2f5;

            .move-up,
            .move-down {
                width: 100%;
            }

            .move-up {
                margin-bottom: 10px;
            }

            .move-down {
                margin-top: 10px;
            }
        }

        + .slide {
            margin-top: 20px;
        }
    }

    .add-slide-btn {
        margin-top: 20px;
    }
}
