{% block sw_cms_element_image_config %}
<div class="sw-cms-el-config-videoslider">
    <sw-tabs defaultItem="slides">
        <template #default="{ active }">
            {% block sw_cms_el_config_solid_ase_content_slider_tabs %}
                <sw-tabs-item name="slides" :activeTab="active">
                    {{ $tc('sw-cms.elements.customTeuVideoslider.config.slides.label') }}
                </sw-tabs-item>

                <sw-tabs-item name="video" :activeTab="active">
                    {{ $tc('sw-cms.elements.customTeuVideoslider.config.video.label') }}
                </sw-tabs-item>

                <sw-tabs-item name="text" :activeTab="active">
                    {{ $tc('sw-cms.elements.customTeuVideoslider.config.text.label') }}
                </sw-tabs-item>

                <sw-tabs-item name="general" :activeTab="active">
                    {{ $tc('sw-cms.elements.customTeuVideoslider.config.general.label') }}
                </sw-tabs-item>

                <sw-tabs-item name="nav" :activeTab="active">
                    {{ $tc('sw-cms.elements.customTeuVideoslider.config.navigation.label') }}
                </sw-tabs-item>

            {% endblock %}
        </template>

        <template #content="{ active }">
            {# slides #}
            {% block sw_cms_el_config_solid_ase_content_slider_slides %}
                <div v-show="active === 'slides'">
                    {% block sw_cms_el_config_solid_ase_content_slider_slides_list %}
                        <ul class="slides">
                            <li
                                v-for="(slide, index) in element.config.slides.value"
                                :key="index"
                                class="slide">
                                <sw-container
                                    columns="1fr auto">
                                    <div class="settings">
                                        <sw-collapse
                                            :class="{ 'disabled': !slide.active }">
                                            <template #header>
                                                <h2 class="mb-0">
                                                    {{ slide.name }}
                                                </h2>

                                                <sw-icon name="regular-chevron-down-xxs" />
                                            </template>
                                            <template #content>
                                                <div class="toggleable-container name">
                                                    <sw-text-field
                                                        :label="$tc('sw-cms.elements.customTeuVideoslider.config.slides.fields.name.label')"
                                                        v-model:value="slide.name"
                                                        class="mb-0">
                                                    </sw-text-field>

                                                    <sw-switch-field
                                                        :label="$tc('sw-cms.elements.customTeuVideoslider.config.slides.fields.active.label')"
                                                        v-model:value="slide.active"
                                                        :disabled="slide.active && activeSlides.length === 1"
                                                        class="mb-0">
                                                    </sw-switch-field>
                                                </div>

                                                <sw-tabs defaultItem="content">
                                                    <template #default="{ active }">
                                                        {% block sw_cms_el_config_solid_ase_content_slider_slides_slide_tabs %}
                                                            <sw-tabs-item name="content" :activeTab="active">
                                                                {{ $tc('sw-cms.elements.customTeuVideoslider.config.video.label') }}
                                                            </sw-tabs-item>

                                                            <sw-tabs-item name="contentText" :activeTab="active">
                                                                {{ $tc('sw-cms.elements.customTeuVideoslider.config.text.label') }}
                                                            </sw-tabs-item>

                                                        {% endblock %}
                                                    </template>

                                                    <template #content="{ active }">
                                                        {% block sw_cms_el_config_solid_ase_content_slider_slides_slide_content %}
                                                            <div v-show="active === 'content'">

                                                                <sw-select-field
                                                                     v-model:value="slide.videoType"
                                                                    :label="$tc('sw-cms.elements.customTeuVideoslider.config.slides.fields.player.label')">
                                                                    <option value="youtube">
                                                                        {{ $tc('sw-cms.elements.customTeuVideoslider.config.slides.fields.player.youtube') }}
                                                                    </option>
                                                                    <option value="vimeo">
                                                                        {{ $tc('sw-cms.elements.customTeuVideoslider.config.slides.fields.player.vimeo') }}
                                                                    </option>
                                                                </sw-select-field>

                                                                <swag-youtube-field class="sw-cms-el-config-youtube__link-input" v-model="slide.videoSrc"></swag-youtube-field>
                                                                <sw-container
                                                                    columns="1fr 1fr">
                                                                    <sw-text-field
                                                                        v-model:value="slide.videoStart"
                                                                        :label="$tc('sw-cms.elements.vimeoVideo.config.label.start')"
                                                                        placeholder="0:00"
                                                                    />
                                                                    <sw-text-field
                                                                        v-model:value="slide.videoEnd"
                                                                        v-if="slide.videoType == 'youtube'"
                                                                        type="text"
                                                                        :label="$tc('sw-cms.elements.vimeoVideo.config.label.end')"
                                                                        placeholder="0:00"
                                                                    />
                                                                </sw-container>

                                                            </div>

                                                            {# text #}
                                                            <div v-show="active === 'contentText'">
                                                                <sw-text-field
                                                                    :label="$tc('sw-cms.elements.customTeuVideoslider.config.slides.fields.title.label')"
                                                                    v-model:value="slide.title">
                                                                </sw-text-field>
                                                                <sw-text-editor
                                                                    :label="$tc('sw-cms.elements.customTeuVideoslider.config.slides.fields.text.label')"
                                                                    v-model:value="slide.text"
                                                                    class="mb-0">
                                                                </sw-text-editor>

                                                                <sw-switch-field
                                                                    :label="$tc('sw-cms.elements.customTeuVideoslider.config.slides.fields.buttonLink.active')"
                                                                    v-model:value="slide.linkActive">
                                                                </sw-switch-field>
                                                                <div v-show="slide.linkActive">
                                                                    <p class="section-title">
                                                                        {{ $tc('sw-cms.elements.customTeuVideoslider.config.slides.fields.buttonLink.label') }}
                                                                    </p>
                                                                    <sw-container
                                                                        columns="2fr 1fr"
                                                                        gap="10px">
                                                                        <sw-text-field
                                                                            :label="$tc('sw-cms.elements.customTeuVideoslider.config.slides.fields.buttonLink.link')"
                                                                            v-model:value="slide.link">
                                                                        </sw-text-field>
                                                                        <sw-switch-field
                                                                            :label="$tc('sw-cms.elements.customTeuVideoslider.config.slides.fields.buttonLink.newTab')"
                                                                            v-model:value="slide.linkNewTab">
                                                                        </sw-switch-field>
                                                                    </sw-container>

                                                                    <sw-text-field
                                                                        :label="$tc('sw-cms.elements.customTeuVideoslider.config.slides.fields.buttonLink.buttonText')"
                                                                        v-model:value="slide.linkText">
                                                                    </sw-text-field>
                                                                </div>
                                                            </div>
                                                        {% endblock %}
                                                    </template>

                                                </sw-tabs>
                                            </template>
                                        </sw-collapse>
                                    </div>
                                    {% block sw_cms_el_config_solid_ase_content_slider_slides_slide_actions %}
                                        <div class="actions">
                                            <sw-button
                                                square
                                                :disabled="index === 0"
                                                size="small"
                                                class="move-up"
                                                @click="onClickMoveSlide(index, 'up')">
                                                <sw-icon name="regular-chevron-up-xxs" />
                                            </sw-button>

                                            <sw-container
                                                columns="1fr 1fr"
                                                gap="10px">
                                                <sw-button
                                                    square
                                                    size="small"
                                                    variant="ghost"
                                                    @click="onClickDuplicateSlide(slide)">
                                                    <sw-icon small name="regular-products-s" />
                                                </sw-button>

                                                <sw-button
                                                    square
                                                    size="small"
                                                    class="remove"
                                                    :disabled="element.config.slides.value.length === 1"
                                                    variant="danger"
                                                    @click="onClickRemoveSlide(slide)">
                                                    <sw-icon small name="regular-trash" />
                                                </sw-button>
                                            </sw-container>

                                            <sw-button
                                                square
                                                :disabled="index === element.config.slides.value.length - 1"
                                                size="small"
                                                class="move-down"
                                                @click="onClickMoveSlide(index, 'down')">

                                                <sw-icon name="regular-chevron-down-xxs" />
                                            </sw-button>
                                        </div>
                                    {% endblock %}
                                </sw-container>
                            </li>
                        </ul>
                    {% endblock %}
                    <sw-button
                        block
                        variant="ghost"
                        @click="onClickAddSlide"
                        class="add-slide-btn">
                        {{ $tc('sw-cms.elements.customTeuVideoslider.config.slides.add-slide.label') }}
                    </sw-button>
                </div>
            {% endblock %}
            <div v-show="active === 'video'">
                <sw-container
                    columns="1fr 1fr"
                    gap="20px">
                    <sw-switch-field
                        :label="$tc('sw-cms.elements.customTeuVideoslider.config.video.fields.controls.label')"
                        v-model:value="element.config.videoSettings.value.controls">
                    </sw-switch-field>
                    <sw-switch-field
                        :label="$tc('sw-cms.elements.customTeuVideoslider.config.video.fields.loop.label')"
                        v-model:value="element.config.videoSettings.value.loop">
                    </sw-switch-field>
                    <sw-switch-field
                        :label="$tc('sw-cms.elements.customTeuVideoslider.config.video.fields.autoplay.label')"
                        v-model:value="element.config.videoSettings.value.autoplay">
                    </sw-switch-field>
                    <sw-switch-field
                        :label="$tc('sw-cms.elements.customTeuVideoslider.config.video.fields.mute.label')"
                        v-model:value="element.config.videoSettings.value.mute">
                    </sw-switch-field>
                    <sw-colorpicker
                        :label="$tc('sw-cms.elements.customTeuVideoslider.config.video.fields.color.label')"
                        v-model:value="element.config.videoSettings.value.color"
                        colorOutput="hex"
                        :zIndex="1000">
                    </sw-colorpicker>
                </sw-container>
            </div>

            <div v-show="active === 'text'">
                <sw-container
                    columns="1fr"
                    gap="20px">
                    <sw-switch-field
                        :label="$tc('sw-cms.elements.customTeuVideoslider.config.text.fields.show.label')"
                        v-model:value="element.config.textSettings.value.show">
                    </sw-switch-field>
                </sw-container>
                <sw-container
                    columns="1fr 1fr"
                    gap="20px"
                    v-if="element.config.textSettings.value.show == true">
                    <sw-select-field
                        v-model:value="element.config.textSettings.value.position"
                        :label="$tc('sw-cms.elements.customTeuVideoslider.config.text.fields.position.label')">
                        <option value="absolute">
                            {{ $tc('sw-cms.elements.customTeuVideoslider.config.text.fields.position.absolute') }}
                        </option>
                        <option value="relative">
                            {{ $tc('sw-cms.elements.customTeuVideoslider.config.text.fields.position.relative') }}
                        </option>
                    </sw-select-field>
                    <sw-number-field
                        :label="$tc('sw-cms.elements.customTeuVideoslider.config.text.fields.colSize.label')" numberType="int" :min="1" :max="12"
                        v-model:value="element.config.textSettings.value.textColSize">
                    </sw-number-field>
                </sw-container>
            </div>

            <div v-show="active === 'general'">
                <sw-container
                    columns="1fr 1fr"
                    gap="20px">
                    <sw-select-field
                        v-model:value="element.config.sliderSettings.value.mode"
                        :label="$tc('sw-cms.elements.customTeuVideoslider.config.general.fields.mode.label')">
                        <option value="gallery">
                            {{ $tc('sw-cms.elements.customTeuVideoslider.config.general.fields.mode.fade') }}
                        </option>
                        <option value="carousel">
                            {{ $tc('sw-cms.elements.customTeuVideoslider.config.general.fields.mode.slide') }}
                        </option>
                    </sw-select-field>
                    <sw-select-field
                        v-model:value="element.config.sliderSettings.value.axis"
                        :label="$tc('sw-cms.elements.customTeuVideoslider.config.general.fields.direction.label')">
                        <option value="horizontal">
                            {{ $tc('sw-cms.elements.customTeuVideoslider.config.general.fields.direction.horizontal') }}
                        </option>
                        <option value="vertical">
                            {{ $tc('sw-cms.elements.customTeuVideoslider.config.general.fields.direction.vertical') }}
                        </option>
                    </sw-select-field>
                    <sw-switch-field
                        :label="$tc('sw-cms.elements.customTeuVideoslider.config.general.fields.loop.label')"
                        v-model:value="element.config.sliderSettings.value.loop">
                    </sw-switch-field>
                    <sw-switch-field
                        :label="$tc('sw-cms.elements.customTeuVideoslider.config.general.fields.rewind.label')"
                        v-model:value="element.config.sliderSettings.value.rewind">
                    </sw-switch-field>
                    <sw-switch-field
                        :label="$tc('sw-cms.elements.customTeuVideoslider.config.general.fields.autoheight.label')"
                        v-model:value="element.config.sliderSettings.value.autoHeight">
                    </sw-switch-field>
                    <sw-switch-field
                        :label="$tc('sw-cms.elements.customTeuVideoslider.config.general.fields.drag.label')"
                        v-model:value="element.config.sliderSettings.value.mouseDrag">
                    </sw-switch-field>
                </sw-container>
            </div>
            <div v-show="active === 'nav'">
                <p class="section-title">
                    {{ $tc('sw-cms.elements.customTeuVideoslider.config.navigation.fields.controls.label') }}
                </p>
                <sw-container
                    columns="1fr 1fr"
                    gap="20px">
                    <sw-switch-field
                        :label="$tc('sw-cms.elements.customTeuVideoslider.config.navigation.fields.controls.show')"
                        v-model:value="element.config.sliderSettings.value.controls">
                    </sw-switch-field>
                    <sw-select-field
                        v-model:value="element.config.sliderSettings.value.controlsPos"
                        :disabled="!element.config.sliderSettings.value.controls"
                        :label="$tc('sw-cms.elements.customTeuVideoslider.config.navigation.fields.controls.position.label')">
                        <option value="outside">
                           {{ $tc('sw-cms.elements.customTeuVideoslider.config.navigation.fields.controls.position.outside') }}
                        </option>
                        <option value="inside">
                            {{ $tc('sw-cms.elements.customTeuVideoslider.config.navigation.fields.controls.position.inside') }}
                        </option>
                    </sw-select-field>
                </sw-container>
                <p class="section-title">
                    {{ $tc('sw-cms.elements.customTeuVideoslider.config.navigation.fields.nav.label') }}
                </p>
                <sw-container
                    columns="1fr 1fr"
                    gap="20px">
                    <sw-switch-field
                        :label="$tc('sw-cms.elements.customTeuVideoslider.config.navigation.fields.nav.show')"
                        v-model:value="element.config.sliderSettings.value.nav">
                    </sw-switch-field>
                    <sw-select-field
                        v-model:value="element.config.sliderSettings.value.navPos"
                        :disabled="!element.config.sliderSettings.value.nav"
                        :label="$tc('sw-cms.elements.customTeuVideoslider.config.navigation.fields.nav.position.label')">
                        <option value="outside">
                            {{ $tc('sw-cms.elements.customTeuVideoslider.config.navigation.fields.nav.position.outside') }}
                        </option>
                        <option value="inside">
                            {{ $tc('sw-cms.elements.customTeuVideoslider.config.navigation.fields.nav.position.inside') }}
                        </option>
                        <option value="thumbnail">
                            {{ $tc('sw-cms.elements.customTeuVideoslider.config.navigation.fields.nav.position.thumb') }}
                        </option>
                        <option value="text">
                            {{ $tc('sw-cms.elements.customTeuVideoslider.config.navigation.fields.nav.position.text') }}
                        </option>
                    </sw-select-field>
                </sw-container>
            </div>
        </template>
    </sw-tabs>
</div>
{% endblock %}
