{% block sw_cms_element_youtube_videoslider %}
    <div class="sw-cms-el-preview-videoslider sw-cms-el-preview-gallery" style="min-height: 100px">

        <div class="slider row">
            <div class="col col-md-8">
                <sw-cms-el-preview-youtube-video></sw-cms-el-preview-youtube-video>
            </div>
            <div class="col col-md-4">
                <h2>Aenean Porta</h2>
                <p>
                    Duis mollis, est non commodo luctus, nisi erat porttitor ligula.
                </p>
            </div>
        </div>
        <div class="nav">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
{% endblock %}
