.sw-cms-el-teuHotspot {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#ededed;
    min-height:100px;
    position: relative;
}

.hfi-marker {
    border: 4px solid white;
    background-color: #ff6000;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
    z-index: 100;
    height: 20px;
    width: 20px;
    padding: 0;
    border-radius: 100%;
    cursor:pointer;
}

.hfi-marker:after {
    opacity: 0;
    height: 30px;
    width: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1, 1);
    pointer-events: none;
    content: "";
    display: block;
    border-radius: 100%;
    border: 1px solid white;
    transition: border-color 1s linear;
    animation: hfi-show-expl 3s linear infinite;
}

.hfi-explanation {
    font-size: 13px;
    line-height: 1.5;
    padding: 20px;
    position: absolute;
    width: 200px;
    background-color: white;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
    opacity: 1;
    word-break: break-word;
    display: none;
}
.hfi-element:hover {
    .hfi-explanation {
        display: block;
    }
}

.hfi-element {
    position: absolute;
    touch-action: manipulation;
    margin: 0;
    padding: 0;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.hfi-element:active .hfi-marker:after {
    border-color: transparent;
}

.hfi-explanation a{
    font-weight:600;
    margin-top: 10px;
    display: block;
}

.hfi-explanation .expl-title{
    margin-bottom: 10px;
    font-size: 14px;
    color:#171717;
    display:block;
}

.hfi-explanation p{
    margin: 0;
    color: #929292;
}

.hfi-open-bottom-left .hfi-explanation {
    top: 30px;
    right: 40px;
}

.hfi-open-bottom-right .hfi-explanation {
    top: 30px;
    left: 40px;
}

.hfi-open-top-right .hfi-explanation {
    bottom: 30px;
    left: 40px;
}

.hfi-open-top-left .hfi-explanation {
    bottom: 30px;
    right: 40px;
}

@keyframes hfi-show-expl {
    0% {
        transform: translate(-50%, -50%) scale(1, 1);
        opacity: 0;
    }
    25% {
        transform: translate(-50%, -50%) scale(2, 2);
        opacity: 0.9;
    }
    50% {
        transform: translate(-50%, -50%) scale(3, 3);
        opacity: 0;
    }
    100% {
        transform: translate(-50%, -50%) scale(4, 4);
        opacity: 0;
    }
}

/* Design 1: Einfach */
.einfach .hfi-num, .einfach .hfi-plus {
    display:none;
}

/* Design 2: Mit Nummerierung */
.nummerierung .hfi-plus {
    display:none;
}

.nummerierung .hfi-marker {
    height: 40px;
    width: 40px;
    text-align:center;
}

.nummerierung .hfi-num {
    margin-top: 5px;
    display: block;
    color:white;
    font-weight:600;
}

/* Design 3: Mit Pluszeichen */
.plus .hfi-marker {
    height: 40px;
    width: 40px;
    text-align:center;
}

.plus .hfi-plus {
    margin-top: 5px;
    display: block;
    color:white;
    font-weight:600;
}

.plus .hfi-num{
    display:none;
}

