{% block sw_cms_element_teuHotspot %}
    <div class="sw-cms-el-teuHotspot" :class="`${element.config.design.value}`">
        <div class="teuhotspot-inner">
            <img class="teuhotspot-bgimg" :src="mediaUrl" style="max-width: 100%">

            <sw-container v-for="n in element.config.numberOfHotspots.value" :key="n">
                <div v-if="element.config['hotspotActiv' + n].value" :id="`hfi-element-${n}`" :style="`top: ${element.config['markerYpos' + n].value}%; left: ${element.config['markerXpos' + n].value }%;`" :class="`hfi-element hfi-open-${element.config['hoverDefaultPos' + n].value}`">
                    <div class="hfi-element-inner" style="position:relative;">
                        <div class="hfi-marker" :onmouseover="`showHotspotExplanation(${n})`" :style="`background-color:${element.config.highlightcolor.value}`"><span class="hfi-num">{{ n }}</span><span class="hfi-plus">+</span></div>
                        <div id="explanation-{{ n }}" class="hfi-explanation desktop">
                            <span class="expl-title">{{ element.config['hotspotTitle' + n].value }}</span>
                            <p>{{ element.config['hotspotText' + n].value|raw }}</p>

                        </div>
                    </div>
                </div>
            </sw-container>


        </div>
    </div>
{% endblock %}
