{% block sw_cms_block_articletab_preview %}
<div class="sw-cms-preview-teu-articletab">

    <div class="tabs">
        <div class="tab tab-active">Tab 1</div>
        <div class="tab">Tab 2</div>
        <div class="tab">Tab 3</div>
    </div>

    <div class="tab-container">
        <sw-cms-product-box-preview :hasText="false"></sw-cms-product-box-preview>

    </div>
</div>
{% endblock %}

