.cms-section {
    &.bg-image {
        position: relative;
        .cms-block-background {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;

            object-fit: none;
            font-family: 'object-fit: none;';

            &.media-mode--contain {
                object-fit: contain;
                font-family: 'object-fit: contain;';
            }

            &.media-mode--cover {
                object-fit: cover;
                font-family: 'object-fit: cover;';
            }
        }
    }
}
