.sw-cms-preview-teu-videoslider {
    position: relative;
    .slider {
        &.row {
            display: flex;
            justify-content: space-between;
        }

        .col {
            padding-right: 5px;
            padding-left: 5px;
        }

        .col-md-4 {
            flex: 0 0 33.3333333333%;
            max-width: 33.3333333333%;
        }

        .col-md-8 {
            flex: 0 0 66.6666666667%;
            max-width: 66.6666666667%;
        }
    }

    .controls,
    .nav {
        position: absolute;
        display: flex;
    }

    .controls {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 0 10px;
        justify-content: space-between;
        align-items: center;
        opacity: 0.5;

        .btn {
            width: 18px;
            height: 18px;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;

            .sw-icon {
                width: 8px;
                height: 8px;
            }
        }
    }

    .nav {
        bottom: 10px;
        left: 0;
        width: 100%;
        justify-content: center;
        align-items: center;

        > div {
            width: 8px;
            height: 8px;
            opacity: 0.5;
            margin: 0 2px;
            border-radius: 999px;
            background-color: #758ca3;

            &:first-child {
                opacity: 1;
            }
        }
    }
    &.sw-cms-preview-gallery {
        grid-template-columns: 1fr;
        .sw-cms-preview-gallery-preview {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
}
