{% block sw_cms_block_videoslider_preview %}
<div class="sw-cms-preview-teu-videoslider sw-cms-preview-gallery">

    <div class="slider row">
        <div class="col col-md-8">
            <sw-cms-el-preview-youtube-video></sw-cms-el-preview-youtube-video>
        </div>
        <div class="col col-md-4">
            <h2>Aenean Porta</h2>
            <p>
                Duis mollis, est non commodo luctus, nisi erat porttitor ligula.
            </p>
            <p class="btn btn-primary">Lorem ipsum</p>
        </div>
    </div>
    <div class="nav">
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>
{% endblock %}

