{% block sw_cms_block_heroslider_preview %}
<div class="sw-cms-preview-teu-heroslider sw-cms-preview-gallery">

    <div class="sw-cms-preview-image-slider">
        <sw-icon name="regular-chevron-left" size="10"></sw-icon>
        <img
                :src="assetFilter('/administration/static/img/cms/preview_mountain_small.jpg')"
                alt=""
        >
        <div class="text">
            <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
            <button class="btn">Clicksum!</button>
        </div>
        <sw-icon name="regular-chevron-right" size="10"></sw-icon>
    </div>
</div>
{% endblock %}