.sw-cms-preview-teu-heroslider {
    &.sw-cms-preview-gallery {
        grid-template-columns: 1fr;
        .sw-cms-preview-gallery-preview {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
}
.sw-cms-preview-teu-heroslider {
    position: relative;
    .sw-cms-preview-image-slider {
        position: relative;
        align-items: center;
        display: grid;
        grid-template-columns: 10px 1fr 10px;
        grid-gap: 5px;
        height: 100%;
        .text {
            position: absolute;
            bottom: 10%;
            left: 10%;
            color: #fff;
            padding: 5px;
            width: 70%;
            background: rgba(0,0,0,0.5);
        }
    }
}
