{% block sw_cms_element_image_config %}
<div class="sw-cms-el-config-heroslider">
    <sw-container columns="1fr 1fr 1fr" gap="20px">
        <sw-number-field type="number"
                         numberType="int"
                         :label="$tc('sw-cms.elements.customTeuHotspot.config.numberOfHotspots')"
                         v-model:value="element.config.numberOfHotspots.value"
                         :min="1"
                         :max="10">
        </sw-number-field>
        <sw-select-field v-model:value="element.config.design.value" :label="$tc('sw-cms.elements.customTeuHotspot.config.design')">
            <option value="einfach">{{ $tc('sw-cms.elements.customTeuHotspot.config.designopts.opt1') }}</option>
            <option value="nummerierung">{{ $tc('sw-cms.elements.customTeuHotspot.config.designopts.opt2') }}</option>
            <option value="plus">{{ $tc('sw-cms.elements.customTeuHotspot.config.designopts.opt3') }}</option>
        </sw-select-field>
        <sw-colorpicker v-model:value="element.config.highlightcolor.value"
                        :label="$tc('sw-cms.elements.customTeuHotspot.config.color')"
                        value="#77cc33"
                        colorOutput="auto"
                        :alpha="true"
                        :disabled="false"
                        :colorLabels="true"
                        zIndex="100">
        </sw-colorpicker>
    </sw-container>
    <sw-container>
        {# Media Upload V2 #}
        <div class="teu-config-img">
            <sw-cms-mapping-field
                    v-model:config="element.config.media"
                    :label="$tc('sw-cms.elements.customTeuHotspot.config.imagelabel')"
                    value-types="entity"
                    entity="media"
            >
                <sw-media-upload-v2
                        variant="regular"
                        :upload-tag="uploadTag"
                        :source="previewSource"
                        :allow-multi-select="false"
                        :default-folder="cmsPageState.pageEntityName"
                        :caption="$tc('sw-cms.elements.general.config.caption.mediaUpload')"
                        @media-upload-sidebar-open="onOpenMediaModal"
                        @media-upload-remove-image="onImageRemove"
                />

                <template #preview="{ demoValue }">
                    <div class="sw-cms-el-config-image__mapping-preview">
                        <img
                                v-if="demoValue.url"
                                :src="demoValue.url"
                                alt=""
                        >
                        <sw-alert
                                v-else
                                class="sw-cms-el-config-image__preview-info"
                                variant="info"
                        >
                            {{ $tc('sw-cms.detail.label.mappingEmptyPreview') }}
                        </sw-alert>
                    </div>
                </template>
            </sw-cms-mapping-field>

            <sw-upload-listener
                    :upload-tag="uploadTag"
                    auto-upload
                    @media-upload-finish="onImageUpload"
            />

            <sw-media-modal-v2
                    v-if="mediaModalIsOpen"
                    variant="full"
                    :caption="$tc('sw-cms.elements.general.config.caption.mediaUpload')"
                    :entity-context="cmsPageState.entityName"
                    :allow-multi-select="false"
                    :initial-folder-id="cmsPageState.defaultMediaFolderId"
                    @media-upload-remove-image="onImageRemove"
                    @media-modal-selection-change="onSelectionChanges"
                    @modal-close="onCloseModal"
            />
        </div>
    </sw-container>

    <sw-tabs :small="false" defaultItem="hotspot1">
        <template #default="{ active }">
            <sw-tabs-item v-for="n in element.config.numberOfHotspots.value" :key="n"
                          :name="'hotspot' + n" :activeTab="active"
                          @click="setBgImage($event, n, element.config.highlightcolor.value)"
                          :title="'Hotspot ' + n">
                <span> Hotspot {{ n }}</span>
            </sw-tabs-item>
        </template>

        <template #content="{ active }">
            <template
                    v-for="n in element.config.numberOfHotspots.value" :key="n"
            >
            <sw-container v-if="active === 'hotspot' + n">

                <div class="c108-canvas-row">
                    <div class="c108-hs-canvas-wrapper">
                        <canvas :id="'canvas-hs-' + n" style="border:1px solid #d1d9e0;" @click="setHotspot($event, n, element.config.highlightcolor.value)"></canvas>
                    </div>
                </div>

                <sw-switch-field bordered :label="$tc('sw-cms.elements.customTeuHotspot.config.hotspotactive')"
                                 v-model:value="element.config['hotspotActiv' + n].value">
                </sw-switch-field>

                <sw-container v-show="element.config['hotspotActiv' + n].value">
                    <sw-select-field v-model:value="element.config['hoverDefaultPos' + n].value" :label="$tc('sw-cms.elements.customTeuHotspot.config.hoverPos')">
                        <option value="default">default</option>
                        <option value="top-left">top-left</option>
                        <option value="top-right">top-right</option>
                        <option value="bottom-left">bottom-left</option>
                        <option value="bottom-right">bottom-right</option>
                    </sw-select-field>

                    <sw-text-field :label="$tc('sw-cms.elements.customTeuHotspot.config.hotspottitle')"
                                   v-model:value="element.config['hotspotTitle' + n].value">
                    </sw-text-field>
                    <sw-text-editor :label="$tc('sw-cms.elements.customTeuHotspot.config.hotspotcontents')"
                                    v-model:value="element.config['hotspotText' + n].value">
                    </sw-text-editor>

                    <sw-switch-field bordered :label="$tc('sw-cms.elements.customTeuHeroslider.config.activateLink')"
                                     v-model:value="element.config['hotspotLinkActive' + n].value">
                    </sw-switch-field>
                    <sw-container columns="1fr 1fr" gap="20px" v-show="element.config['hotspotLinkActive' + n].value">
                        <sw-url-field :label="$tc('sw-cms.elements.customTeuHeroslider.config.link')"
                                      v-model:value="element.config['hotspotLinkUrl' + n].value">
                        </sw-url-field>
                        <sw-switch-field :label="$tc('sw-cms.elements.image.config.label.linkNewTab')"
                                         v-model:value="element.config['hotspotLinkNewTab' + n].value">
                        </sw-switch-field>
                    </sw-container>
                    <sw-text-field :label="$tc('sw-cms.elements.customTeuHotspot.config.hotspotLinkText')"
                                   v-show="element.config['hotspotLinkActive' + n].value"
                                   v-model:value="element.config['hotspotLinkText' + n].value">
                    </sw-text-field>

                </sw-container>


            </sw-container>
            </template>
        </template>
    </sw-tabs>

</div>
{% endblock %}
