{% block sw_cms_element_articletab %}
    <div class="sw-cms-el-articletab">
        <sw-tabs :small="false" defaultItem="tab1">
        <template #default="{ active }">
            <sw-tabs-item v-for="n in element.config.numberOfTabs.value" :key="n"
                          :name="'tab' + n" :activeTab="active"
                          :title="'Tab ' + n">
                <span v-if="element.config['tabTitle' + n].value" v-html="element.config['tabTitle' + n].value"></span>
                <span v-else>
                    <span v-if="n === 1"> {{ placeholder(tabArticle1, 'name', tabArticle1.name) }} </span>
                    <span v-else-if="n === 2"> {{ placeholder(tabArticle2, 'name', tabArticle2.name) }} </span>
                    <span v-else-if="n === 3"> {{ placeholder(tabArticle3, 'name', tabArticle3.name) }} </span>
                    <span v-else-if="n === 4"> {{ placeholder(tabArticle4, 'name', tabArticle4.name) }} </span>
                    <span v-else-if="n === 5"> {{ placeholder(tabArticle5, 'name', tabArticle5.name) }} </span>
                </span>
            </sw-tabs-item>
        </template>

        <template #content="{ active }">
            <template
                    v-for="n in element.config.numberOfTabs.value" :key="n"
            >
            <sw-container v-if="active === 'tab' + n">
                <div class="sw-cms-el-product-box__media">
                    <a href="#"
                       :title="placeholder('tabArticle'+ n, 'name')"
                       class="sw-cms-el-product-box__image-link">
                        <img v-if="n === 1" :src="mediaUrl1" />
                        <img v-else-if="n === 2" :src="mediaUrl2" />
                        <img v-else-if="n === 3" :src="mediaUrl3" />
                        <img v-else-if="n === 4" :src="mediaUrl4" />
                        <img v-else-if="n === 5" :src="mediaUrl5" />
                    </a>
                </div>
                <div class="sw-cms-el-product-box__actions">
                    <a href="#" class="sw-cms-el-product-box__buy-action">
                        {{ $tc('sw-cms.elements.productBox.component.label.actionBuy') }}
                    </a>
                </div>
            </sw-container>
            </template>
        </template>
        </sw-tabs>

    </div>
{% endblock %}
