.sw-cms-el-articletab {
    height: 100%;
    width: 100%;

    min-height: 315px;
    img {
        max-width:100%;
    }
    .sw-tabs .sw-tabs__content {
        overflow: hidden;
        position: absolute;
        writing-mode: vertical-rl;
        text-orientation: mixed;
        top: 0;
        left: 0;
        height: 100%;
        -ms-flex-pack: center;
        justify-content: center;
        display: flex;
        .sw-tabs-item {
            float: left;
            display: inline-block;
            padding: .2rem 0rem;
            border: none;
            font-size: 110%;
            transform: rotate(180deg);
            padding: 10px 0px;
            &:after {
                content: "";
                width: 7px;
                height: 7px;
                background: transparent;
                border-radius: 100px;
                display: block;
                margin: auto;
            }
        }
        .sw-tabs-item.sw-tabs-item--active {
            &:after {
                background: #e63027;
            }
        }
    }
    .sw-tabs__custom-content {
        padding-left: 40px;
    }
    .sw-cms-el-product-box__media {
        height: 0;
        padding-bottom: 56.25%;
        position: relative;
        .sw-cms-el-product-box__image-link {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            img {
                object-fit: contain;
                width: 100%;
                height: 100%;
            }
        }
    }
    .sw-cms-el-product-box__actions {
        margin-top: 20px;
    }

    .sw-cms-el-product-box__buy-action {
        display: block;
        line-height: 40px;
        font-size: 14px;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        color: #fff;
        background: linear-gradient(to bottom, #7793ae 0%, #6a849c 100%);
        border-radius: 4px;

    }
}
