{% block sw_cms_block_videoslider %}
    <div class="sw-cms-block-teu-heroslider-tabs">
        <slot name="content">{% block sw_cms_block_heroslider_content %}{% endblock %}</slot>
    </div>
{% endblock %}
